{% extends 'base.html' %} {% block content %}

<div class="container mb-3 mt-3">
  <h3 class="text-center">Details of Overhead Expenditure</h3>

  <table
  id="table_id"
  class="table table-striped table-bordered display"
  style="width: 100%;"
>
  <thead>
    <tr>
      <th>Admin Code</th>
      <th>MDA Name</th>
      <th>Programm Code</th>
      <th>Ipsas Title</th>
      <th>Economic Code</th>
      <th>Function Code</th>
      <th>Location Code</th>
      <th>Fund Code</th>
      <th>2022 Approved Budget</th>
      <th>2022 Performance Jan - Sept</th>
      <th>2023 Propose Budget</th>
    </tr>
  </thead>
  <tbody>
 {% if Overheaddata %} {% for Overheaddata in Overheaddata %}
    <tr>
      <td> {{Overheaddata.0}}</a></td>
      <td>{{Overheaddata.1}}</td>
      <td>{{Overheaddata.2}}</td>
      <td>{{Overheaddata.5}}</td>
      <td>{{Overheaddata.4}}</td>
      <td>{{Overheaddata.6}}</td>
      <td>{{Overheaddata.8}}</td>
      <td>{{Overheaddata.10}}</td>
      <td>{{Overheaddata.12}}</td>
      <td>{{Overheaddata.13}}</td>
      <td>{{Overheaddata.14}}</td>
     
    </tr>
    {%endfor%} {% else %}
    <div class="col-md-12"><p>No Overhead data Available</p></div>
    {% endif %} 






    {% comment %} {% if capitals %} {% for capital in capitals %}
    <tr>
      <td>{{capital.prog_code_id  }}</td>
      <td><a href="{% url 'mda' mda.id %}"> {{capital.admin_code_id }}</a></td>
      <td>{{capital.eco_code_id }}</td>
      <td>{{capital.func_code_id }}</td>
      <td>{{capital.fund_code_id }}</td>
      <td>{{capital.admin_code_id }}</td>
      <td>{{capital.admin_code_id }}</td>
      <td>{{capital.admin_code_id }}</td>
      <td>{{capital.admin_code_id }}</td>
      <td>{{capital.admin_code_id }}</td>
    </tr>
    {%endfor%} {% else %}
    <div class="col-md-12"><p>No MDAs Available</p></div>
    {% endif %}  {% endcomment %}
  </tbody>
  <tfoot>
    <tr>
      
      <th>Admin Code</th>
      <th>MDA Name</th>
      <th>Programm Code</th>
      <th>Ipsas Title</th>
      <th>Economic Code</th>
      <th>Function Code</th>
      <th>Location Code</th>
      <th>Fund Code</th>
      <th>2022 Approved Budget</th>
      <th>2022 Performance Jan - Sept</th>
      <th>2023 Propose Budget</th>
    </tr>
  </tfoot>
</table>
</div>
{% endblock %}
